<!DOCTYPE html>
<html>
<head>
  <title>Pablo Miranda</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-5JqodV4Mg3uUvZLHawzt+nrUdbizmibgHh4gtH8mHvn2bVdDLzEqc96FB53Hd6eOUALc2rNGcBslTTyAeTC8Hw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    img.logo {
      max-width: 200px;
    }
  </style>
</head>
<body>
  <h1>Pablo Miranda</h1>
  <img src="/images/logo.png?raw=true" alt="Logo" class="logo">
  <p>
    <br>
    Sejam bem vindos ao meu portfólio de Ciência de dados. 
    <br/>
    Busco uma transição de carreira para a área de Ciência de Dados. Possuo graduação e pós-graduação em História, além de anos de experiência em ensino. Tenho boas qualidades comunicativas, forte espírito de equipe, engenhosidade para buscar novas soluções, além do compromisso com prazos de trabalho.
    <br><br>
    Entre as ferramentas e habilidades que domino, estão:
  </p>
  <ul>
    <li>Programação em Python para análise e ciência de dados</li>
    <li>Estatística aplicada a Ciência de Dados</li>
    <li>SQL (SQL Server, MySQL, PostgreSQL)</li>
    <li>Machine Learning (modelos supervisionados e não-supervisionados)</li>
    <li>Análise de dados e Dashboards com Microsoft Excel, Tableau, Metabase e Microsoft Power BI</li>
    <li>Fluxo de trabalho com Apache Airflow</li>
    <li>Versionamento com Git e GitHub</li>
    <li>Inglês fluente</li>
  </ul>
  Essas são as minhas redes sociais:
  <br><a href="https://www.linkedin.com/in/pablo-gomes-miranda/">LinkedIn</a><br/>
  <a href="https://github.com/pgdemiranda/">GitHub</a>
</body>
</html>
